/***stylesheet for eazy ad unblocker****/

.ui-icon-closethick {
    background-image: url(../images/refresh.png) !important;
    background-position-x: 0px !important;
	background-position-y: 0px !important; 
}